.FusionColorMap {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FusionColorMap__input {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}