.viewport-container {
  /* float: left;
  position: relative; */
  position: absolute;
  border: var(--viewport-border-thickness) solid var(--ui-border-color);
}

.LayoutManager {
  position: relative;

  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; */
}

.viewport-container.active {
  border: var(--viewport-border-thickness) solid var(--active-color);
}

.EmptyViewport {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--text-secondary-color);
}

.LayoutPanel {
  width: 100%;
  height: 100%;
}
